//vars
$font-family: 'Lato', Arial, Helvetica, sans-serif;
$mainPadding: 60px;

//core 
.iss-wrapper {
	max-width: 1180px;
    margin: 0 auto;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 200%;
}

p {
	font-size: 14px;
	line-height: 150%;
}

strong {
	font-weight: 700;
}