/* ------ VARS ------- */

//fonts
$font-family: 'Lato', Arial, Helvetica, sans-serif;

//spaces
$mainPadding: 60px;

//colors
$color-error: #db0000;


/* ------ CORE ------- */

//wrappers 
.iss-wrapper {
	max-width: 1180px;
    margin: 0 auto;
    color: #000;
}
.iss-container {
	padding: $mainPadding;
	font-weight: 300;
}

//fonts
h2 {
	font-size: 18px;
	font-weight: 700;
	line-height: 200%;
	margin-bottom: 10px;
}

p {
	font-size: 14px;
	line-height: 150%;
}

strong {
	font-weight: 700;
}

//elements
ul {
	margin: 20px auto;
	display: inline-block;
}

//misc
.iss-listItems {
	list-style: disc;
    list-style-position: inside;
    line-height: 120%;
}

.iss-alertMsg {
	color: $color-error;
	font-weight: 700;
	font-size: 16px;
	margin: 10px 0;
}

// responsive
@media (max-width: 767px) {

	.iss-container {
		padding: $mainPadding/2;
	}

	.issError {
		padding: 0 $mainPadding/2;
	}

}