.iss-galleryPlaces {
	
	.iss-grid {
		width: 100%;
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    grid-auto-flow: dense;
	    grid-template-rows: auto;
    	grid-gap: 10px;

		li {
			position: relative;
			width: 100%;
			padding-bottom: 100%;

			.iss-grid-info {
				opacity: 0;
				transition: all ease .2s;
				width: 100%;
				height: 100%;

				p {
					position: absolute;
					left: 20px;
					right: 20px;
					bottom: 20px;
					color: #fff;
					z-index: 2;
					font-size: 13px;
					font-weight: 700;
				}

				a {
					color: #fff;
					text-decoration: none;
					font-weight: 300;
					float: right;

					&:hover {
						text-decoration: underline;
					}
				}

				&::before {
					content: '';
				    background: rgba(0,0,0,.5);
				    position: absolute;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    top: 0;
				    z-index: 1;
				}
			}

			&:hover,
			&:focus {
				.iss-grid-info {
					opacity: 1;
				}
			}

			&.iss-alertMsg {
				padding: 0;
				width: auto;

				&::before {
					display: none;
				}
			}
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.lazyload-placeholder {
		color: #000;
		height: 100%;
		width: 100%;
		min-width: 300px;
		min-height: 300px;
		
		&::before {
			content: 'loading content...'
		}
	}
}

.fade-enter, .fade-appear {
	opacity: 0;	
}
.fade-appear-done.fade-enter-done {
  	opacity: 1;
  	transition: opacity 500ms ease;
}
.fade-exit {
  	opacity: 1;
}
.fade-exit.fade-exit-active {
  	opacity: 0;
  	transition: opacity 500ms ease;
}


@media (max-width: 767px) {

	.iss-galleryPlaces {

		.iss-grid {
			grid-template-columns: none;
		}
	}
}

